.header-portfolio {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 130px, transparent 130px),
        url('../images/Rectangle\ 74.jpg') center / cover no-repeat;
}

.section-portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-portfolio .section-title {
    margin-bottom: 70px;
}

.portfolio-controls {
    display: grid;
    grid-template-columns: 555px 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.search-box {
    position: relative;
}

.search-input {
    width: 100%;
    height: 70px;
    background: #EFF1ED;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    padding: 0 50px 0 20px;
    box-sizing: border-box;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    color: #7F7F7F;
    pointer-events: none;
}

.filter-buttons {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    margin-left: auto;
    gap: 45px;
}

.filter-btn {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: 8px;
    height: 70px;
    padding: 10px;
    background: #EFF1ED;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.filter-btn svg path {
    transition: all 0.3s ease;
}

.filter-btn:hover {
    background: #E3E6E0;
}

.filter-btn:active {
    background: #BC4749;
    color: #ffffff;
}

.filter-btn:active svg path {
    fill: #ffffff;
    fill-opacity: 1;
}

.filter-sort {
    width: 70px;
}

.filter-btn-wrapper {
    position: relative;
}

.filter-btn__dropdown-wrapper {
    min-width: 325px;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px 14px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    display: none;
}

.filter-btn__dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 22px;
}

.checkbox {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    width: fit-content;
    font-size: 22px;
    font-weight: 400;
}

.checkbox-square {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid #8E8E8E;
    border-radius: 8px;
    background: #ffffff;
    width: 28px;
    height: 28px;
    transition: all 0.2s ease-out;
}

.checkbox:hover .checkbox-square {
    border-color: #000000;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"]:checked+.checkbox-square {
    background: #BC4749;
    border-color: #BC4749;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    width: 100%;
}

.portfolio-item {
    display: grid;
    gap: 28px;
    cursor: pointer;
}

.portfolio-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    background: #EFF1ED;
}

.portfolio-label {
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    margin: 0;
    text-align: left;
}

.portfolio-popup {
    position: fixed;
    z-index: 9;
    inset: 0;
    background: rgba(30, 30, 30, 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.popup-content {
    background: #fff;
    border-radius: 36px;
    max-width: 1360px;
    width: 100%;
    padding: 40px;
    position: relative;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
}

.popup-close {
    position: absolute;
    top: 32px;
    right: 32px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 0;
    transition: transform 0.2s cubic-bezier(.5, -0.47, .54, 1.69);
}

.popup-close:hover {
    transform: scale(1.15);
}

.popup-grid {
    display: grid;
    grid-template-columns: 555px auto;
    gap: 20px;
    align-items: start;
    width: fit-content;
    min-height: 460px;
    margin: 0 auto;
}

.popup-image-wrap {
    display: block;
    height: 100%;
}

.popup-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.popup-info {
    display: grid;
    height: 100%;
    padding-top: 8px;
    max-width: 474px;
    width: fit-content;
}

.popup-title {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 16px 0;
    color: rgba(0, 0, 0, 0.5);
}

.popup-price {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 16px 0;
}

.popup-description {
    font-size: 20px;
    color: #000000;
    margin-bottom: 32px;
    line-height: 1.14;
}

.popup-order {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    background: #B6D272;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    width: fit-content;
    height: 82px;
    margin-top: auto;
    transition: background 0.25s;
}

.popup-order:hover {
    background: #386641;
}

.order-popup {
    position: fixed;
    z-index: 10;
    inset: 0;
    background: rgba(30, 30, 30, 0.95);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px;
    overflow-y: auto;
}

.order-popup-content {
    background: #252525;
    color: #fff;
    border-radius: 20px;
    max-width: 785px;
    width: 100%;
    padding: 36px 28px;
}

.order-popup-title {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin: 0 0 40px 0;
}

.order-items {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
}

.order-item {
    display: grid;
    grid-template-columns: 205px 1fr;
    align-items: center;
    gap: 48px;
}

.order-item-img {
    width: 205px;
    height: 162px;
    border-radius: 20px;
    object-fit: cover;
}

.order-item-info {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    font-weight: 700;
    align-items: center;
}

.order-item-title {
    font-size: 22px;
    color: #fff;
}

.order-item-price {
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    margin-left: auto;
}

.order-total-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 14px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
}

.order-total-label {
    color: #fff;
}

.order-total-value {
    color: #fff;
}

.order-form {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
}

.order-form label {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    display: grid;
    gap: 10px;
}

.order-input {
    width: 100%;
    height: 83px;
    background: #fff;
    color: #222;
    font-size: 22px;
    border: none;
    border-radius: 14px;
    padding: 0 18px;
    margin-top: 4px;
}

.order-input:focus {
    outline: none;
    background: #f6f6f6;
}

.order-popup-buttons {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    gap: 60px;
    margin-left: auto;
}

.order-popup-cancel,
.order-popup-submit {
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    height: 82px;
    padding: 16px 24px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.order-popup-cancel {
    background: #BC4749;
    color: #fff;
}

.order-popup-submit {
    background: #A7C957;
    color: #fff;
}

.thank-popup {
    position: fixed;
    z-index: 11;
    inset: 0;
    background: rgba(30, 30, 30, 0.75);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 24px;
}

.thank-popup-content {
    background: #252525;
    border-radius: 20px;
    max-width: 785px;
    min-height: 200px;
    padding: 36px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    position: relative;
}

.thank-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px;
}

.thank-description {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.thank-popup-close {
    position: absolute;
    top: 28px;
    right: 32px;
    border: none;
    background: none;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
    z-index: 2;
    padding: 0;
    margin: 0;
    transition: transform .16s;
}

.thank-popup-close:hover {
    transform: scale(1.14);
}